/* stylelint-disable */
$ff-main: "Manrope-Thin", Arial, sans-serif;
$ff-bold: "Manrope-Bold", Arial, sans-serif;
$ff-semibold: "Manrope-SemiBold", Arial, sans-serif;
$ff-regular: "Manrope-Regular", Arial, sans-serif;
$ff-medium: "Manrope-Medium", Arial, sans-serif;
$ff-light: "Manrope-Light", Arial, sans-serif;
$main-font-size: 18px;
$min-font-size: 13px;
$color-main: #000000;
$color-second: #f5e07e;
$color-border: #e8e8e8;
$color-bg: #fbfbfb;
