.tools {
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: $color-bg;
}

.tools__row {
  display: flex;
  align-items: center;
}

.tools__title {
  margin: 0;
  font-family: $ff-bold;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 30px;
}

.tools__list {
  display: flex;
}

@media (max-width: 576px) {
  .tools__list {
    flex-direction: column;
  }

  .tools__row {
    align-items: center;
    flex-direction: column;
  }
 }
