.tool-item {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 3px 3px 11px $color-border;
  border-radius: 20px;
  margin-right: 20px;
  padding-top: 25px;
  padding-left: 25px;
  background: #ffffff center 35% no-repeat;

  &--weeek {
    background-image: url(../img/weeek-back.jpg);
  }

  &--smaple {
    background-image: url(../img/smaple-back.jpg);
  }

  &:hover,
  &:focus {
    box-shadow: 0px 3px 36px rgba(0, 0, 0, 0.08);
  }

  &:active {
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.16);
  }
}

.tool-item__icon {
  margin-right: 25px;
  border: 1px solid $color-border;
  border-radius: 10px;
  box-sizing: border-box;

  &--rotate {
    transform: rotate(-5deg);
  }
}

.tool-item__title {
  font-family: $ff-light;
  font-size: 16px;
  font-weight: 300;
  width: 250px;
  margin: 0;

  &--small {
    width: 150px;
  }

  &--bold {
    font-family: $ff-semibold;
  }
}

.tool-item__desc {
  width: 325px;
  margin-top: 30px;
  padding-bottom: 65px;

  &--small {
    width: 315px;
  }
}

@media (max-width: 576px) {
  .tool-item {
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 0;
    padding: 25px;

    &--weeek {
      background-position: center bottom;
    }
  }

  .tool-item__desc {
    font-size: 13px;
    width: 100%;
  }
 }
